# Template configuration file; contains default values for configurations.
# Configurations defined in this file are considered mandatory configurations; removal/altering of  
# any configuration defined here should only be done if/when all references to the configuration in
# the program has been correspondingly updated. 
# Make a COPY of this file and rename it (e.g. remove .example), but leave this file untouched. 

# Rules/Conventions:
# 1. Values will be cast to types based on the following convention:
#   - Integers are cast to int
#   - Real numbers are cast to float
#   - true/false are cast to bool (Not case sensitive)
#   - Values incapsulated in [] are cast to lists.
#       - Multiple values must be comma-separated
#       - List elements are themselves cast to respective types following this convention.
#       - List declarations across multiple lines are supported.
#       - Nested lists are not supported.
#   - Everything else will be treated as strings

# 2. Key names must be unique, also across different sections. 

# 3. Sections are used only for grouping configurations for readability. They carry no meaning 
#       when the configuration is loaded into the program.
#   - The only exception to this rule is the ENVIRONMENTSPECIFIC section, which is used to define 
#       grouped values for specific envrionments. If a key is only specified for a single 
#       ENVIRONMENT, e.g. PROD, it will be ignored for ENVIRONMENT = DEV.

[ENVIRONMENT]
# Defines the execution environment. Influences which database is targeted, etc.
# Accepted values are DEV and PROD
ENVIRONMENT     = PROD

# Verbose influences degree of terminal output during execution
VERBOSE         = false


[PING]
# How many seconds a single request to an endpoint must at most take before timing out.
TIMEOUT         = 10

# How many seconds must pass between consecutive iterations of crawls
INTERVAL        = 86400 

# How many seconds must pass between consecutive pings to the same endpoint
POLITENESS      = 5


[ENVIRONMENTSPECIFIC]
# ENVIRONMENTSPECIFIC specifies variables for specific environments
# Keys must be on the form <PROD|DEV>_KEYNAME.

# Host (IP) and port to DB instance
PROD_HOST       = 192.168.99.100
PROD_PORT       = 27017
DEV_HOST        = 127.0.0.1
DEV_PORT        = 27017

# Requirements file path
PROD_REQPATH    = requirements/prod
DEV_REQPATH     = requirements/dev


